/* Global styles */

:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --text:#1A132F;
    --background:#C4DDFF;
    --link:#F66B0E;
}


a{
  color: var(--text);
  text-decoration: none; 
}
a:hover, a:focus{
    color: var(--link);
}


.style1{
  font-size: 7vh;
}
.style2{
  font-size: 5vh;
}
.style3{
  font-size: 2vh;
}


.float-left{
  float: left;
  width: 50%;
  padding: 10px;
}


/* Removes body margin to avoid white space around the webpage */
body{
  margin: 0%;
  background-color: var(--background);
}

/* Header style along with list and list items */
header {
      background-image: linear-gradient(#001D6E, var(--background));
      margin-top: -25px;
  }

      nav ul {
          display: flex;
          justify-content: space-evenly;
          list-style-type: none;
          font-size: x-large;
          font-weight: bolder;
          
      }

      nav li{
          padding: 20px 50px;
          
      }

      nav a{
        color: var(--background);
      }


  main{
      color: var(--text);
      margin-left: 20px;
      margin-top: 2vh;
      
  }

      .about{
          height:50vh;
          display: flex;
      }

      .about > img{
        margin-top: 10vh;
        margin-left: 20vh;
        width: 70vh;
        height: 50vh;
      }
      
      #Work{
        margin-top: 15vh;
      }

      .responsive{
        
        display: flex;
        flex-wrap: wrap;
      }
      .container {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 100vh;
      }
      
      .card {
        flex: 1 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.5);
        line-height: 0;
      
      }
      
      .card img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
      }
      
      .card span {
        font-size: 2.5vh;
        display: block;
        text-align: center;
        line-height: 2;
      }
      
      .card:hover { flex: 1 1 25%; }
 
/*To make webpage responsive to screen size  */
@media screen and (max-width: 720px) {
  .responsive {
    margin: 10px; 
  }
  
  .about{
    margin: 10px;
    height: fit-content;
  }
  nav ul{
    flex-direction: column;
  }
}
  
@media screen and (max-width: 420px) {
  .responsive {
    margin: 10px; 
  }
  .container{
    width: 200%;
    flex-wrap: wrap;
  }
  .about{
    margin: 20vh 10px;
    height: fit-content;
  }
  nav ul{
    flex-direction: column;
  }
}

/* To style the form */
form {
    max-width: 400px;
    margin: auto;
    
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }

  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid var(--link);
  }
  
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px var(--link);
  }
  
  /* The right-side border changes when the element is clicked on or tabbed into */
  .text-input:focus {
    border-right-width: 5px;
  }
  
  .text-input:placeholder-shown {
    border-style: solid;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  

  /* Footer Style */
  footer {
    background-image: linear-gradient(var(--background), #001D6E);
    margin-bottom: -20px;
    font-size: large;
    color: var(--background);
    height: 5vh;
    display: flex;
    justify-content: center;
}