:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --text:#1A132F;
    --background:#C4DDFF;
    --link:#F66B0E;
}

a:hover, a:focus{
    color: var(--link);
}

header {
    background-image: linear-gradient(#001D6E, var(--background));
    margin-top: -20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: large;
    font-weight: bolder;
}

nav li{
    padding: 20px 50px;
}

nav a{
    color: var(--background);
    text-decoration: none;
}
div a{
    color: var(--text); 
}

body{
    margin: 0%;
    background-color: var(--background);
}

main{
    /* background-color: var(--background); */
    font-size: large;
    color: var(--text);
    margin-left: 20px;
    margin-top: 20px;
    
}

.about{
    display: block;
    margin-bottom: 50px;
}

#style1{
    font-size: 25px;
    display: flex;
}

#style2{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}


.float-left{
    float: left;
    width: 50%;
    padding: 10px;
}

div.gallery {
    border: 1px solid var(--link);
  }
  
div.gallery:hover {
    transform: scale(1.2); 
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin-bottom: 100px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
      margin-bottom: 100px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

form {
    max-width: 400px;
    margin: auto;
    
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }

  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid var(--link);
  }
  
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px var(--link);
  }
  
  /* The right-side border changes when the element is clicked on or tabbed into */
  .text-input:focus {
    border-right-width: 5px;
  }
  
  .text-input:placeholder-shown {
    border-style: solid;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  